<md-toolbar class="md-tall">
    <div class="md-toolbar-tools">
        <form name="projectForm" layout-fill>
            <div layout="row" layout-align="center center" layout-fill>
                <div flex="80">
                    <md-input-container class="smaller">
                        <label>message...</label>
                        <input name="message" ng-model="messageToBeSent" autocomplete="off">
                        <div ng-messages="projectForm">
                            <div class="error-message" ng-show="invalidMessage">You should not sent an empty message, be eco friendly :)</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="20">
                    <div layout="row" layout-align="end center">
                        <md-button class="md-fab" aria-label="Send Message" ng-click="sendMessageAction()">
                            <ng-md-icon icon="send" style="fill: white"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</md-toolbar>